
<div >
<mat-dialog-content> {{"Title"| translate}}: {{data.rowData.title}}</mat-dialog-content>
<mat-dialog-content> {{"Description"| translate}}: {{data.rowData.description}}</mat-dialog-content>
<mat-dialog-content> {{"Price"| translate}}: {{data.rowData.price}}</mat-dialog-content>
<mat-dialog-content> {{"Brand"| translate}}: {{data.rowData.brand}}</mat-dialog-content>
<mat-dialog-content> {{"Image"| translate}}: {{data.rowData.image}}</mat-dialog-content>

</div>




<mat-dialog-actions >
  <button mat-button mat-dialog-close  > Ok</button>
</mat-dialog-actions>

