<table class="table table-striped mt-5 table-dark" >
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Brand</th>
      <th scope="col">Image</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList">
      <td>{{product?.title}}</td>
      <td>{{product?.description}}</td>
      <td>{{product?.price}}</td>
      <td>{{product?.brand}}</td>
      <td>{{product?.image}}</td>
      <td>
        <button type="button" class="btn btn-secondary m-2" (click)="deletePrd(product.id)">Delete</button>
        <button type="button" class="btn btn-secondary m-2" (click)="editProduct(product.id)">Select</button>

      </td>
    </tr>

  </tbody>
</table>

<hr>
<button type="button" class="btn btn-primary m-2" (click)="showForm()"><span *ngIf="showProductForm" > X </span> <span  *ngIf="!showProductForm"> + </span></button>

<section class="container" *ngIf="showProductForm">
<form [formGroup]="ProductForm" class="bg-dark text-light m-2 mt-4 container p-3">
  <div class="form-group">
    <label for="product-title">Title</label>
    <input type="text" formControlName="title" class="form-control" id="product-title" >
  </div>
  <div class="form-group">
    <label for="product-description">Description</label>
    <input type="text" formControlName="description"  class="form-control" id="product-description" name="description">
  </div>
  <div class="form-group">
    <label for="product-price">Price</label>
    <input type="text" formControlName="price"  class="form-control" id="product-price">
  </div>
  <div class="form-group">
    <label for="product-brand">Brand</label>
    <input type="text" formControlName="brand"  class="form-control" id="product-brand">
  </div>
  <div class="form-group">
    <label for="product-image">Image</label>
    <input type="file" formControlName="image"  class="form-control" id="product-image">
  </div>
  <button type="button" class="btn btn-secondary m-4 w-25" (click)="addProduct()">Add</button>
  <button type="button" class="btn btn-secondary m-4 w-25" (click)="updatePrd(product.id)">Update</button>

</form>
</section>

<hr>

<div>
  <input #box type="text" class="m-2" id="name" placeholder="enter your name"  (keyup)="getTextValue(box.value)">

</div>
<div>
  <input type="text" class="m-2" value="{{textValue}}">

</div>

