<form  class="bg-dark text-light m-2 mt-4 w-75 container" [formGroup]="addProductForm" (ngSubmit)="addProduct()">
  <div class="form-group">
    <label for="productTitle">Title</label>
    <input type="text" formControlName="title" class="form-control" id="productTitle">
  </div>
  <div class="form-group">
    <label for="productDescription">Description</label>
    <input type="text" formControlName="description"  class="form-control" id="productDescription">
  </div>
  <div class="form-group">
    <label for="productPrice">Price</label>
    <input type="text" formControlName="price"  class="form-control" id="productPrice">
  </div>
  <div class="form-group">
    <label for="productBrand">Brand</label>
    <input type="text" formControlName="brand"  class="form-control" id="productPrice">
  </div>
  <div class="form-group">
    <label for="productImage">Image</label>
    <input type="file" formControlName="image"  class="form-control" id="productImage">
  </div>
  <button type="submit" class="btn btn-secondary m-2">Submit</button>
</form>
